* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #fff7ed;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

nav > a {
  text-decoration: none;
  margin-right: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #161616;
}

nav > a:hover {
  text-decoration: underline;
  font-weight: 900;
}

.isActive {
  text-decoration: underline;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  height: 112px;
}

.about-image54 {
  /* display: block; */
  width: 100%;
}

.about-h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #161616;
  margin-top: 48px;
}

.about-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  margin-top: 32px;
}

.about-div {
  padding: 32px;
  background-color: #ffcc8d;
  border-radius: 4px;
  margin-top: 56px;
  margin-bottom: 56px;
}
.about-h2 {
  background-color: transparent;
}
.about-link {
  background-color: #161616;
  padding: 16px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}
.about-div-link {
  margin-top: 32px;
  margin-bottom: 16px;
  background-color: transparent;
}

.home-image53 {
  background-image: url('./assets/images/image53.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 384px;
  /* height: 72vh; */
}
.home-h1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  padding-top: 64px;
  background-color: transparent;
}
.home-p {
  padding-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: transparent;
}
.home-link {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff8c38;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
  border-radius: 4px;
}
.home-div-link {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color: transparent;
}

/* ###FOOTER */
.footer-div {
  height: 72px;
  background-color: #252525;
}

.footer-p {
  background-color: transparent;
  color: #aaaaaa;
  text-align: center;
  padding-top: 24px;
  font-size: 14px;
  font-weight: 500;
}
.vans-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}
.vans-div img {
  border-radius: 4px;
  width: 100%;
}
.van-name-price {
  display: flex;
  justify-content: space-between;
}
.van-name-price h3,
.van-name-price p {
  font-weight: 600;
  font-size: 20px;
  color: #161616;
  margin-top: 8px;
  margin-bottom: 4px;
}
.van-type-p {
  margin-bottom: 24px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  /* font-style: normal; */
  display: inline-block;
  color: #ffead0;
  text-transform: capitalize;
}

.simple {
  background-color: #e17654;
}
.luxury {
  background-color: #161616;
}
.rugged {
  background-color: #115e59;
}

/* ###VAN_DETAIL */

.link-back {
  font-size: 16px;
  font-weight: 500;
  color: #201f1d;
  text-decoration: underline;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.detail-van-div img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 48px;
}

.detail-van-div h3 {
  font-weight: 700;
  font-size: 32px;
  color: #161616;
  margin-bottom: 16px;
}

.detail-van-div .price-p {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}

.detail-van-div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.van-detail-link {
  margin-bottom: 80px;
}

/* ### HOSTVANS */
.host-vans {
  display: flex;
  background-color: #ffffff;
  padding: 16px 24px;
  border-radius: 8px;
  margin-bottom: 16px;
  align-items: center;
  color: #161616;
}
.host-vans > img {
  height: 64px;
  border-radius: 4px;
  margin-right: 16px;
}
.host-vans-name-price,
.host-vans-name-price h3,
.host-vans-name-price p {
  background-color: transparent;
}

/* ###HOST VAN DETAIL */
.detail-van {
  margin-top: 120px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 24px;
}
.detail-van > img {
  height: 160px;
  border-radius: 4px;
  margin-right: 24px;
}
.host-detail-van-div {
  background-color: transparent;
}

.host-detail-van-div > h3 {
  background-color: transparent;
  margin-bottom: 4px;
}

.host-detail-van-div .price {
  background-color: transparent;
}
